* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
overflow-x: hidden;
}

/* Navbar Section Styling */
#navbarSection, .dropdown-toggle {
 background-color: #2980b9;
 color: #fff;
}

.container-fluid {
 padding: 1% 7% 0;
}

.navbar {
 padding: 0 0 1.5rem;
}

.navbar-brand {
 font-size: 2.2rem;
 font-weight: 500;
 font-family: 'Black Ops One', cursive;
}

.dropdown,
.navbar-dark .navbar-nav .nav-link {
 color: whitesmoke;
 font-size: 1rem;
 font-weight: 400;
 font-family: 'Righteous', cursive;
}

.nav-item {
 padding: 0 18px;
}

/* Content Section Styling */
#content {
 padding-top: 0;
 padding-bottom: 2%;
 line-height: 1.6;
}

h2 {
color: #2980b9;
 text-align: center;
 font-size: 50px;
 margin-top: 30px;
 margin-bottom: 30px;
 text-decoration: underline;
}

.picture {
 height: 400px;
 float: right;
}

.instal {
 color: #7f8c8d;
}

/* Footer section styling */
#footer {
 padding-bottom: 10px;
 padding-top: 10px;
 text-align: center;
 background-color: #bbe1fa;
 color: whitesmoke;
}

.footer-logo {
 margin-bottom: 20px;
 height: 70px;
}

@media only screen and (max-width: 800px){
.picture{
 height: 300px;
 float: none;
 display: block;
}

h2{
 font-size: 25px;
}
}
